# Virtual environment
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Keep dataset bin files ignored, but allow project screenshots and demo frames
*.bin
*.label


# IDE / OS
.vscode/
.idea/
.DS_Store
